extends ../layout

block content
    a(href="/item/create") add item
    ul
    each item in items
            li
                a(href=item.url)
                    div 
                        p.item-name=item.name 
                        p.item-price=item.price 
    else
        li There are no items in the inventory

