doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/") home
      li
        a(href="/item") all products
      li
        a(href="/category") category
    block content
