extends ../layout 

block content
    a(href="/category/create") create new category 
    if categories.length > 1 
        ul
            each category in categories 
                li
                    a(href=`/category/${category._id}`)=category.name
    else 
        p there exist no categories
