extends ../layout 

block content
    a(href="/category/create") create new category 
    ul
        each category in categories 
            li
                a(href=category.url)=category.name
        else 
            p there exist no category
